<div class="col-sm-4 col-sm-offset-4" style="margin-top:50px;">
    <div class="well">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" ng-model="auth.username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password" required>
            </div>
            <button class="btn btn-primary" ng-click="auth.login()">Submit</button>
        </form>
    </div>
</div>